.search-results {
  padding: 60px 0;
  display: flex;
  margin-left: 20vh;
}
.shop-filter-panel{
  width: 10%;
}
.headding {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 400;
  margin-bottom: 40px;
  padding: 0 10vw;
}

.headding span{
  font-weight: 700;
}

.product-container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  height: auto;
  grid-row-gap:40px;
  padding:5px;
}

.shop-filter-group {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 0;
}
.shop-filter-group-list{
  width: auto;
  display: flex;
  flex-direction: column;
  grid-gap:10px;
}
.shop-filter-group-list .shop-filter-group-item-check{
  margin-right:7px ;
}
.shop-filter-group-filter-input{
  width: 50px;
}
.shop-filter-group-filter-btn{
  background-color: white;
  padding: 5px;
  border: 2px solid cornflowerblue;
  cursor: pointer;
  border-radius: 3px;
}
.shop-filter-group--new{
  width: 100%;
  background-color: red;
  border: none;
}
.product-card{
  cursor: pointer;
}
